<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_pocketinput._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>PocketInput 需要在本地网络上广播服务，以便 iPhone 发现并连接。</string>
</dict>
</plist>
